{% extends "layout/base.html" %}
{% load static %}
{% load humanize %}
{% block pillars %}active{% endblock %}

{% block content %}

{% include 'layout/pillar-nav.html' %}

<div class="container section-title mt-3" data-aos="fade-up">
    <h2>
        <span style="color: black;">AFFORDABLE HOUSING</span>
        <span style="color: red;"> AND MARKETS PROGRAM</span>
    </h2>
     <p>Under the BETA Pillars</p>
     <small class="text-success">Dignified homes and economic spaces for every Kenyan</small>

     <div class="row">
        <div class="col-md-12">
            <div class="stat-card">
                <h2>Dashboard Coming soon...</h2>
            </div>
        </div>
        
    </div>
</div>


{% endblock %}
