{% extends "layout/base.html" %}
{% block dashboard  %}active{% endblock %}
{% load static %}
{% block content %}


<!-- Stats Section -->
<section>


  <div class="col-md-12 text-center">
    <iframe 
      title="ICTA BETA DASHBOARD" 
      width="1140" 
      height="541.25" 
      src="https://app.powerbi.com/reportEmbed?reportId=3593a38b-eef4-47b3-bbf5-f83483eaeda3&autoAuth=true" 
      allowFullScreen="true">
    </iframe>
  </div>

</section><!-- /Stats Section -->

{% endblock content %}
