{% extends "layout/base.html" %}
{% load static %}
{% load humanize %}
{% block pillars %}active{% endblock %}

{% block content %}


{% include 'layout/pillar-nav.html' %}

<div class="container section-title mt-3" data-aos="fade-up">
    <h2>UNIVERSAL HEALTH COVERAGE</h2>
    <p class="text-danger"><strong>(TAIFA CARE)</strong></p>
     <small class="text-success">Delivering Affordable, Accessible Quality Healthcare for Every Kenyan</small>

     <div class="row">
        <div class="col-md-12">
            <div class="stat-card">
                <h2>Dashboard Coming soon...</h2>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}
