{% extends "layout/base.html" %}
{% load static %}
{% block pillars  %}active{% endblock %}
{% block content %} 

  {% include "layout/pillar-nav.html" %}

   
<!-- Section Title -->
<div class="container section-title" data-aos="fade-up">
    <h2>AGRICULTURAL TRANSFORMATION</h2>
    <strong>Food Security, Livestock & Fisheries</strong>
    <h6 class="text-success mt-2">PESA MFUKONI</h6>
    <small class="text-danger">Transforming agriculture for affordable food, jobs, and higher farmer incomes</small>
    <!-- Key Stats Row -->
    <div class="row">
        <div class="col-md-12">
            <div class="stat-card">
                <h2>Dashboard Coming soon...</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}


