{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Home - BETA Dashboard System</title>
  <meta name="description" content="Bottom-Up Economic Transformation Agenda - Monitoring Dashboard">
  <meta name="keywords" content="BETA, Kenya, Economic Transformation, Dashboard, Agriculture, MSME, Housing, Health, Digital Economy">


  <!-- Favicons -->
  <link href="{% static 'img/coat_of_arms.png' %}" rel="icon">
  <link href="{% static 'img/coat_of_arms.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""/>
  <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />

  <!-- Main CSS File -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">

  <style>
    .stats-board {
      display: grid ;
      grid-template-columns: repeat(5, 1fr)!important;
      gap: 1.5rem;
    }
    
  </style>

</head>
<body class="index-page">

<header id="header" class="header sticky-top">
    <div class="container-fluid container-xl position-relative">
      <div class="top-row d-flex align-items-center justify-content-between">
        <a href="{% url 'dashboard' %}" class="logo d-flex align-items-center">
            <img src="{% static 'img/logo.png' %}" alt="Beta Logo">
          <h1 class="sitename">BETA Dashboard System</h1>
        </a>

        <div class="nav-wrap">
          <div class="container d-flex justify-content-center position-relative">
            <nav id="navmenu" class="navmenu">
              <ul>
                <li><a href="{% url 'dashboard' %}" class="{% block dashboard %}{% endblock %}">Home</a></li>
                <li><a href="{% url 'about' %}" class="{% block about %}{% endblock %}">About BETA</a></li>
                <li class="dropdown"><a href="#" class="{% block pillars %}{% endblock %}"><span>BETA Pillars</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                      <li><a href="{% url 'agriculture' %}" style="color: #d45254;">Agriculture</a></li>
                      <li><a href="{% url 'msme' %}" style="color: #d45254;">MSME Economy</a></li>
                      <li><a href="{% url 'housing' %}" style="color: #d45254;">Affordable Housing</a></li>
                      <li><a href="{% url 'uhc' %}" style="color: #d45254;">Universal Health Coverage</a></li>
                      <li><a href="{% url 'digital' %}" style="color: #d45254;">Digital Superhighway & Creative Economy</a></li>
                      
                    </ul>                    
                </li>
                <li><a href="{% url 'power_bi' %}" class="{% block bi %}{% endblock %}">PowerBI</a></li>
                <li><a href="{% url 'projects' %}" class="{% block projects %}{% endblock %}">Priority Projects</a></li>
                <li><a href="{% url 'logout' %}" class="text-danger">Logout</a></li>
              </ul>
              
              <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>
            
          </div>

        </div>

          <!--form class="search-form ms-4">
            <input type="text" placeholder="Search..." class="form-control">
            <button type="submit" class="btn"><i class="bi bi-search"></i></button>
          </form-->

        </div>
      </div>
    </div>



  </header>

  <main class="main">
    {% block content %}
    {% endblock %}

    

  </main>

  <footer id="footer" class="footer position-relative">
    <div class="container">
        <p class="tagline"><strong>BETA Dashboard System</strong> | Bottom-Up Economic Transformation Agenda | All Rights Reserved!</p>
    </div>
</footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""></script>
  <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

  <!-- Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
  {% block extrajs %}{% endblock %}

</body>

</html>
